[MASTER]
load-plugins=

[MESSAGES CONTROL]
disable=all

[REPORTS]
output-format=text
reports=no

[REFACTORING]

[BASIC]

[FORMAT]

[LOGGING]

[MISCELLANEOUS]

[SIMILARITIES]

[SPELLING]

[TYPECHECK]

[VARIABLES]

[CLASSES]

[DESIGN]

[IMPORTS]

[EXCEPTIONS]
